body {
  background-image: url("assets/images/prism.png");
}

/* footer for all pages */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #6996AD;
  right: 0;
  left: 0;
  text-align: center;
}


/*navbar for all pages*/

.navbar {
  padding-left: 200px;
  padding-right: 200px;
  background-color: #6996AD;
}

.navbar-brand {
  font-weight: bold;
  font-size: 30px;
}

a {
  color: black;
  font-weight: bold;
}


h1 {
  margin-left: 70px;
  margin-bottom: 30px;
}



/*about me */
#main {
  width: 960px;
  background-color: white;
  margin-top: 50px;
}








img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.imgcenter {
  text-align: center;
}

/* contact page only */
form {
  width: 960px;
  margin: auto;
}

/* contact page only */
.maincontent {
  background: white;
  width: 960px;
  margin: auto;
  margin-top: 50px;
}

/* portfolio content */
#portcontent {
  background: white;
  width: 960px;
  margin: auto;
  margin-top: 50px;
}

.text {
    position: relative;
    text-align: center;
    bottom: -150px;
    background-color: #6996AD ;
    width: auto;
    margin-right: 20px;
}




























